# =========================
# Python & Django Artifacts
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# =========================
# Environments & Configs
# =========================
.env
.venv/
venv/
ENV/

# =========================
# Editor / IDE & OS
# =========================
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store